.STYLE-target-mini
    CONTAINER-target()
    width 51px 
    background-image url('../images/ui/dropimage/ui_bg_container_target_mini.png')

.STYLE-dropfile-description-mini 
    STICKER-dropfile-description()
    margin-top 0px
    padding-top 26px

.STYLE-dropfile-arrow-mini
    STICKER-dropfile-arrow()
    background-image url('../images/ui/dropimage/ui_bg_sticker_dropfile_arrow_medium.png')
    background-position 50% 5px
    padding-bottom 0
    margin-bottom -20px
    height 62px
    //background: red

.STYLE-dropImage-upload-mini
    padding-top 20px
    padding-bottom 0
    height 40px 
    padding-bottom 0
    margin-bottom -23px
    width 80px
    margin-left -20px

.STYLE-target-medium       
    CONTAINER-target() 
    width 51px 
    background-image url('../images/ui/dropimage/ui_bg_container_target_medium.png')

.STYLE-dropfile-description-medium 
    STICKER-dropfile-description()
    margin-top -27px
    padding-top 32px 
    
.STYLE-dropfile-arrow-medium
    STICKER-dropfile-arrow()
    background-image url('../images/ui/dropimage/ui_bg_sticker_dropfile_arrow_medium.png')
    background-position 50% 0px
    padding-bottom 0
    margin-bottom -5px
    height 62px

.STYLE-dropImage-upload-medium
    padding-top 20px
    padding-bottom 0
    margin-bottom -5px
    height 40px
    padding-bottom 0
    margin-bottom -5px
    width 80px
    margin-left -20px

.STYLE-noTarget
    background-image none