STICKER-dropfile-arrow()
    STICKER()
    left 0
    bottom 50%
    width 100%
    background-image url('../images/ui/dropimage/ui_bg_sticker_dropfile_arrow.png') 
    background-repeat no-repeat
    background-position 50% 27px
    padding-bottom 45px
    margin-bottom -30px
    height 102px

.STICKER-dropfile-arrow
    STICKER-dropfile-arrow()

.STYLE-dropfile-arrow-medium
    STICKER-dropfile-arrow()
    background-image url('../images/ui/dropimage/ui_bg_sticker_dropfile_arrow_medium.png')

.STYLE-dropfile-arrow-mini
    STICKER-dropfile-arrow()
    margin-bottom 0
    margin-bottom -5px
    background-image url('../images/ui/dropimage/ui_bg_sticker_dropfile_arrow_medium.png')

STICKER-dropfile-description()
    STICKER()
    left 0
    top 50%
    margin-top -27px
    padding-top 58px
    text-align center
    width 100%

.STICKER-dropfile-description 
    STICKER-dropfile-description()

.STYLE-dropfile-description-medium 
    STICKER-dropfile-description()
    margin-top -27px
    padding-top 32px

.STYLE-dropfile-description-mini 
    STICKER-dropfile-description()
    margin-top 0px
    padding-top 26px
    
.STICKER-dropImage-upload
    STICKER()
    left 0
    bottom 50%
    width 100%
    padding-top 80px
    padding-bottom 45px
    margin-bottom -30px
    height 22px
    text-align center
    GiveMeOpacity(0)
    z-index 100004

.STICKER-dropfile-remove
    STICKER()
    right 5px
    top 5px
    cursor pointer