.CONTAINER-dropfile
    CONTAINER()
   
    overflow hidden
    height 202px

CONTAINER-target()
    CONTAINER()
    border-left 0
    border-bottom 0
    padding-top 0
    padding-bottom 0
    padding-left 0
    padding-right 0
    margin-left auto
    margin-right auto
    height 100%
    width 102px 
    background-image url('../images/ui/dropimage/ui_bg_container_target.png')
    background-repeat no-repeat
    background-position 0 50%
    position relative
    //background red

.CONTAINER-target
    CONTAINER-target()