.STYLE-toolbar-padding-L300
    padding-left 300px
    
.STYLE-toolbar-borderLeft-0
    border-left 0
    margin-left 11px

.STYLE-toolbar-borderRight-0
    padding-right 9px !important
    border-right 0 !important
    
.STYLE-control
    font-weight bold
    width 56px
    font-size 11px
    
a.STYLE-toolbar-drawSaveButton
    padding-left: -150px

li.STYLE-toolbar-drawSaveButton  
    margin-right: 63px  

li.STYLE-toolbar-drawHideGridButton
    position absolute
    left 50%
    margin-left: -149px //( 216 + 82 ) / 2 < browsebar + button / 2
    
li.STYLE-toolbar-drawCopyStyleButton
    position absolute
    left 50%
    margin-left: -41px  //(216 + 111) / 2 / 4

li.STYLE-toolbar-drawPAsteStyleButton
    position absolute
    left 50%
    margin-left: 74px //114
 
  