
$mymenuname = ITEM-toolbar

.FUNCTION-toolbar
    MENU-horizontal($mymenuname)
    TakeMyKidsWidth()
    AlignMyKidsLeft()
    height 16px
    cursor pointer
     
    
FUNCTION-toolbar-a()
    UI()
    display block
    font-size 10px
    text-align center
    line-height 11px
    padding-top 2px
    color #6c85a2
    min-width: 35px
    padding-left 20px
    padding-right 20px
    padding-bottom 3px
    margin-right 4px
    background-color transparent
    background-repeat repeat-x
    background-image url('../images/ui/toolbar/ui_bg_button_toolbar.png')
    &:hover
      color #cacaca

a.{$mymenuname}
    FUNCTION-toolbar-a()
    
a.{$mymenuname}-first
    FUNCTION-toolbar-a()

a.{$mymenuname}-last
    FUNCTION-toolbar-a()
    margin-right 0

FUNCTION-toolbar-a-selected()
    FUNCTION-toolbar-a()
    background-position 0 -16px
    color #ffffff
    padding-right 9px
    margin-right 0
    border-right 0

a.{$mymenuname}-selected
    FUNCTION-toolbar-a-selected()
    
a.{$mymenuname}-last-selected
    FUNCTION-toolbar-a-selected()
    border-right 0
    margin-right 1px

a.{$mymenuname}-first-selected
    FUNCTION-toolbar-a-selected()
    border-right 0