.CONTAINER-toolbar
    CONTAINER()
    AlignMyKidsRight()
    color #fff
    font-size 10px
    line-height 0
    overflow hidden
    background-image url('../images/ui/toolbar/ui_bg_function_toolbar.png')
    background-repeat repeat-x
    background-position 0 0