// BRICKS CSS Framework / Version 1.0
// Copyright (c) 2009 AUTHORS.txt at http://www.littleweblab.com/BRICKS

$showGrid = true
$iesupport = true
$bodyBgColor = ''
$bodyBgImage = url('')
$bodyBgRepeat =  repeat
$bodyBgPosition = 0 0
$pagePosition = 'center'
$pageWidth = 700px
$pageHeight = 600px//'auto'
$pageColor = rgba( 255, 255, 255, 0.04 );
$pageFontSize = 12px
$pageFontFamily = Arial
$pageFontColor =  #000
$pagelineHeight = auto
$pageWordSpacing = normal
$pageWhiteSpace = normal


// BRICKS IMPORT

@import "_base/_reset"
@import "_base/_master"
@import "_base/_menu"
@import "_base/_floating"
@import "_base/_align"
@import "_base/_page"

@import "_extras/_opacity"
@import "_extras/_shadow"
@import "_extras/_round_corners"
@import "_extras/_layer"
@import "_extras/_column"
@import "_extras/_make"

@import "_to_work_with/_frame"
@import "_to_work_with/_grid"
@import "_to_work_with/_sticker"
//@import "_to_work_with/_content_elements"
@import "_to_work_with/_container"
@import "_to_work_with/_functions"
@import "_to_work_with/_styles"
@import "_to_work_with/_colors"

@import "_bricks_ui/_bricks_ui"