IMAGE-patterns()
    display block
    margin-left auto
    margin-right auto
    GiveMeShadow(#232223, 0, 4px, 8px)
    margin-bottom 8px

.IMAGE-patterns
    IMAGE-patterns()

.IMAGE-patterns-selected
    IMAGE-patterns()
    GiveMeShadow(#43566a, 0, 4px, 8px)