$mymenuname = ITEM-horizontal

.FUNCTION-horizontal
  MENU-horizontal($mymenuname)
  TakeMyKidsWidth()
$mymenuname = ITEM-vertical

.FUNCTION-vertical
  MENU-vertical($mymenuname)
 
  
.FUNCTION-showmethecontainer
  background-image url('../images/ui/bifork/ui_bg_showmethecontainer.png')
  background-repeat repeat
  background-position 0px 0px
  position absolute
  top 0
  left 0

.FUNCTION-showmethegrid
  background-image url('../images/ui/bifork/ui_bg_showmethegrid.png')
  background-repeat repeat
  background-position 0px 0px
  position absolute
  top 0
  left 0
  z-index 99998