UI-BIFORK-CONTENT()
    font-size: 12px
    h1
        UI()
        GiveMeOpacity(20)
        font-weight bold
        text-transform uppercase
        font-size: 30px
        margin-left: 10%
        margin-right: 10%
        margin-top -15px
        color #c9c9c9
        color #000
        text-align center
       
       
        
  