

.ICON-trash-mini
  background-image url('../images/ui/icons/ui_bg_icon_mini_trash.png')
  background-repeat no-repeat
  background-position 50% 0
  width 16px 
  height 17px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-add-mini
  background-image url('../images/ui/icons/ui_bg_icon_add_mini.png')
  background-repeat no-repeat
  background-position -16px -16px
  width 16px 
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap
  
.ICON-add-mini-grey
  background-image url('../images/ui/icons/ui_bg_icon_add_mini.png')
  background-repeat no-repeat
  background-position -32px 0px
  width 16px 
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap
    
.ICON-cancel-link-mini
  background-image url('../images/ui/icons/ui_bg_icon_add_mini.png')
  background-repeat no-repeat
  background-position -16px 0
  width 16px 
  height 16px
  padding-left 0px !important
  display block
  overflow hidden
  text-indent -400px
  white-space nowrap  

.ICON-cancel-mini
  background-image url('../images/ui/icons/ui_bg_icon_add_mini.png')
  background-repeat no-repeat
  background-position 0px -16px
  width 16px !important
  height 16px
  padding-left 0px !important
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-remove-mini
  background-image url('../images/ui/icons/ui_bg_icon_add_mini.png')
  background-repeat no-repeat
  background-position 0 0px
  width 16px !important
  height 16px !important
  padding-left 0px !important
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap



.ICON-whiteArrowLeft-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowswhite_mini.png')
  background-repeat no-repeat
  background-position 0 0px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-whiteArrowRight-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowswhite_mini.png')
  background-repeat no-repeat
  background-position -16px 0px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-whiteArrowBottom-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowswhite_mini.png')
  background-repeat no-repeat
  background-position 0 -16px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-whiteArrowTop-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowswhite_mini.png')
  background-repeat no-repeat
  background-position -16px -16px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap


.ICON-greyArrowLeft-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowsgrey_mini.png')
  background-repeat no-repeat
  background-position 0 0px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-greyArrowRight-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowsgrey_mini.png')
  background-repeat no-repeat
  background-position -16px 0px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-greyArrowBottom-mini
  background-image url('../images/ui/icons/ui_bg_icon_arrowsgrey_mini.png')
  background-repeat no-repeat
  background-position 0 -16px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-whiteArrowTop-mini
  background-image url('../images/ui/icons/ui_images/bg_icon_arrowswhite_mini.png')
  background-repeat no-repeat
  background-position -16px -16px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap

.ICON-pixelArrowRight-mini
  background-image url('../images/ui/icons/ui_bg_icon_pixelarrowsblack_mini.png')
  background-repeat no-repeat
  background-position 0 0px
  width 16px !important
  height 16px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap



.ICON-file-maxi
  background-image url('../images/ui/icons/ui_bg_icon_maxi_file_pdf.png')
  background-repeat no-repeat
  background-position 50% 50%
  width 40px !important
  height 40px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap




.ICON-clipboard-close
  background-image url('../images/ui/icons/ui_bg_icons_clipboard.png') !important
  background-repeat no-repeat
  background-position 0 0
  width 40px !important
  height 40px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-clipboard-images
  background-image url('../images/ui/icons/ui_bg_icons_clipboard.png') !important
  background-repeat no-repeat
  background-position 0 -40px
  width 40px !important
  height 40px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap


.ICON-clipboard-folder
  background-image url('../images/ui/icons/ui_bg_icons_clipboard.png') !important
  background-repeat no-repeat
  background-position -40px -40px
  width 40px !important
  height 40px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap
  

.ICON-clipboard-copy
  background-image url('../images/ui/icons/ui_bg_icons_clipboard.png') !important
  background-repeat no-repeat
  background-position 0 -80px
  width 40px !important
  height 40px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap



.ICON-mode-edit-maxi
  background-image url('../images/ui/icons/ui_bg_icon_modes.png') !important
  background-repeat no-repeat
  background-position 0 0
  width 68px
  height 68px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-mode-edit-mini
  background-image url('../images/ui/icons/ui_bg_icons_modes_mini.png') !important
  background-repeat no-repeat
  background-position -31px 0
  width 31px
  height 31px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap
  
.ICON-mode-translate-maxi
  background-image url('../images/ui/icons/ui_bg_icon_modes.png') !important
  background-repeat no-repeat
  background-position 0 -68px
  width 68px
  height 68px
  margin-top -5px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-mode-translate-mini
  background-image url('../images/ui/icons/ui_bg_icons_modes_mini.png') !important
  background-repeat no-repeat
  background-position 0 0
  width 31px
  height 31px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap
  
.ICON-mode-people-maxi
  background-image url('../images/ui/icons/ui_bg_icon_modes.png') !important
  background-repeat no-repeat
  background-position -68px -68px
  width 68px
  height 68px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-mode-people-mini
  background-image url('../images/ui/icons/ui_bg_icons_modes_mini.png') !important
  background-repeat no-repeat
  background-position -93px 0
  width 31px
  height 31px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-mode-design-maxi
  background-image url('../images/ui/icons/ui_bg_icon_modes.png') !important
  background-repeat no-repeat 
  background-position -68px 0px
  width 68px
  margin-top -5px
  height 68px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-mode-design-mini
  background-image url('../images/ui/icons/ui_bg_icons_modes_mini.png') !important
  background-repeat no-repeat
  background-position -62px 0
  width 31px
  height 31px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap


.ICON-add-maxi
  background-image url('../images/ui/icons/ui_bg_icon_add_maxi.png')
  background-repeat no-repeat
  background-position 0 0
  width 21px
  height 21px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap

.ICON-add-maxi-panel
  background-image url('../images/ui/icons/ui_bg_icon_add_maxi_panel.png')
  background-repeat no-repeat
  background-position 0 0
  width 21px
  height 21px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap
  
.ICON-add-maxi-option
  background-image url('../images/ui/icons/ui_bg_icon_add_maxi_option.png')
  background-repeat no-repeat
  background-position 0 0
  width 21px
  height 21px
  overflow hidden
  display block
  text-indent -400px
  white-space nowrap
  
.ICON-edit-32 
  background-image url('../images/ui/icons/ui_bg_icon_edit_32.png')
  background-repeat no-repeat
  background-position 0 0
  width 32px !important
  height 32px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap  

.ICON-blackArrowLeft-maxi
  background-image url('../images/ui/icons/ui_bg_ArrowsBlack_maxi.png')
  background-repeat no-repeat
  background-position 0 0px
  width 30px !important
  height 30px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap
  
.ICON-blackArrowRight-maxi
  background-image url('../images/ui/icons/ui_bg_ArrowsBlack_maxi.png')
  background-repeat no-repeat
  background-position -30px 0
  width 30px !important
  height 30px
  display inline-block
  overflow hidden
  text-indent -400px
  white-space nowrap