.STICKER-linkButton
    STICKER()
    UI()
    GiveMeRoundCorners(12px)
    background-color #6b9ed4
    padding-top 4px
    padding-bottom 6px
    padding-left 10px
    padding-right 24px
    p
        STICKER()
        top 50%
        color #fff
        font-style italic
      
.STICKER-linkCancelIcon
    STICKER()
    width 16px
    height 16px
    right 4px
    margin-top -8px
    top 50%
    cursor pointer
    &:hover
        background-position 0 -16px

.STICKER-linkEdit
    STICKER()
    GiveMeShadow(rgba(0, 0, 0, 0.5), 1px, 1px, 8px )
    GiveMeRoundCorners(8px)
    TakeMyKidsWidth()
    min-width 210px
    background-color #fff
    
.STICKER-ButtonSetLink
    STICKER()
    left 0
    top 0
    width 49px
    height 100%