.BUTTON-setLink
    text-indent -200px
    overflow hidden
    BUTTON()
    background-image url('../images/ui/link/ui_bg_button_setLink.png')
    background-position 0 0
    width 49px
    height 100%
    cursor default
    border-top-left-radius 8px
    -moz-border-radius-topleft 8px
    -webkit-border-top-left-radius 8px
    border-bottom-left-radius 8px
    -moz-border-radius-bottomleft 8px
    -webkit-border-bottom-left-radius 8px
    
//    &:hover
//        background-position: 0 -132px