CONTAINER-bgimagestatus()
  CONTAINER()  
  margin-bottom 5px
  padding-top 6px
  padding-bottom 9px
  background-image url("../images/ui/bgimagestatus/ui_bg_container-bgimagestatus.png")  

.CONTAINER-bgimagestatus-file
  CONTAINER-bgimagestatus()
  text-align left 
  padding-left 12px

.CONTAINER-bgimagestatus-noFile
  CONTAINER-bgimagestatus()
  text-align left
  padding-left 12px

.CONTAINER-bgimagestatus-fileReplace
  CONTAINER-bgimagestatus()