.STYLE-bgimagestatus-fileRemove
  margin-left 3px
  
.STYLE-bgimagestatus-fileName
  color #575556 !important
  font-weight bold !important
  font-size 12px !important
  //margin-bottom 3px !important
  line-height 18px
  margin-left 5px

.STYLE-bgimagestatus-link
  font-style italic !important
   
.STYLE-bgimagestatus-addedBy-label
  color #9d9d9d !important
  font-size 11px !important
  margin-left 23px
  
.STYLE-bgimagestatus-addedBy
  color #9d9d9d !important
  font-size 11px !important
  font-style italic !important
  text-decoration underline !important
  