.STICKER-bubble
    STICKER()
    Layer(100)
    GiveMeOpacity(0)
    TakeMyKidsWidth()
    bottom 0
    left 0
    border 1px solid blue
  
.STICKER-mediBubbleDott
    STICKER()
    //top -16px
    top 14%
    right 6px
    width 25px

.STICKER-littleBubbleDott
    STICKER()
    //top -24px 
    top 0
    right 0
    width 20px