.CONTAINER-bubble
    CONTAINER()
    TakeMyKidsWidth()
    LayerOnUI(10)  
    background-image url('../images/ui/bubble/ui_bg_container_bubble.png')
    background-repeat no-repeat
    background-position 100% 0
    //background-color orange
    padding-right 17px
    padding-bottom 1px

.CONTAINER-mediBubbleDott
    CONTAINER()
    background-image url('../images/ui/bubble/ui_bg_sticker_bubble_dott_medi.png')
    background-repeat no-repeat
    background-position 0 0
    height 25px

.CONTAINER-littleBubbleDott
    CONTAINER()
    background-image url('../images/ui/bubble/ui_bg_sticker_bubble_dott_mini.png')
    background-repeat no-repeat
    background-position 0 0
    height 20px