UI-BUTTON-choose()
    BUTTON()
    UI()
    TakeMyKidsWidth()
    HOVER-underline()
    GiveMeShadow(#414141, 1px, 1px, 8px)
    GiveMeRoundCorners(6px)
    cursor pointer
    position relative
    background #fff
    text-transform uppercase
    font-weight bold
    text-align center
    font-size 2em
    color #757575
    margin-left 0.2em
    margin-right 0.2em
    margin-bottom 0.6em
    padding-left 0.4em
    padding-right 0.4em
    padding-top 0.6em
    padding-bottom 0.6em

.UI-BUTTON-choose
    UI-BUTTON-choose()

.UI-BUTTON-choose-selected
    UI-BUTTON-choose()
    background-image url('../images/ui/choose/ui_bg_button_choose_selected.png')
    background-repeat repeat-x
    background-color #6a90b8
    color #fff !important