// STYLE chooseText 
UI-STYLE-chooseText()
    TakeMyKidsWidth()
    UI()
    BUTTON()
    text-transform uppercase
    font-weight bold
    text-align center
    margin-left 0.2em
    margin-right 0.2em
    font-size 2em
    padding-top 0.64em
    padding-bottom 0.6em
    color #000
    GiveMeOpacity(30)

.UI-STYLE-chooseText
    UI-STYLE-chooseText()
    
.UI-STYLE-chooseCancel
    UI-STYLE-chooseText()
    text-decoration underline
  