.FUNCTION-split
    CONTAINER()
    height 100%
    overflow hidden
    
    li.ITEM-split
        CONTAINER()
        overflow: visible
        height 50%
        height 50%
        top 50%
        background-image url('../images/ui/split/ui_bg_container_horizontal_split.png')
        background-repeat repeat-x
        background-position  0 0
        
    a.ITEM-split
        CONTAINER()
        text-indent -200000px
        cursor pointer
        width 146px
        height 186px
        background-image url('../images/ui/split/ui_bg_button_horizontal_split.png')
        background-repeat no-repeat
        background-position  -3px 0
        top -50%
        background-repeat no-repeat 