.FUNCTION-split
    li.STYLE-verticalSplit
        STICKER()
        display block
        background-image url('../images/ui/split/ui_bg_container_vertical_split.png')
        background-repeat repeat-y
        background-position  100% 0
        width 50%
        top 0
        height 100%
       
    a.STYLE-verticalSplit
        background-image url('../images/ui/split/ui_bg_button_vertical_split.png')
        background-position  0 -3px
        left 100%
        margin-left -50%
        height 146px
        width 186px
        top 0