.STYLE-dark
    border 1px dashed rgba( 0, 0, 0, 0.2 )
    
.STYLE-light
    border-color rgba( 0, 0, 0, 0.2 )
    background-image url( '../images/ui/dropzone/ui_bg_conatiner_dropzone_light.png' )
    p
      color #c1c4c4 