// BRICKS CSS Framework /BASE/ iespecials:Version 1.0
// Copyright (c) 2009 AUTHORS.txt at http://www.littleweblab.com/BRICKS

/*
 * Extra code to fix Internet Explorer 6 problems until it's history
 * Contains extra solutions for floating.css
 */

// IE browser reset 
menu
    zoom 1
    display inline
    
div
    zoom 1
    display inline
    width 100%
    
menu
    width 100%

/*
 * Special reset for allmost all elements
 * without <div> & <body> & <menu>
 */

span, applet, object, iframe, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, dir, menu, fieldset, form, label, legend, textarea, select, table, caption, tbody, tfoot, thead, tr, th, td
    vertical-align bottom // --> Removes Spots in IE 6 & 7