rename-function()
    background-color #6b9ed4 !important
    color #f2f7fb !important
    font-style italic !important
    font-weight normal !important
    padding 3px
    GiveMeRoundCorners(12px)

.FUNCTION-rename
    rename-function()
    &:hover
        rename-function()