CONTAINER-tableHead()
    color inherit
    font-size 18px
    font-weight bold
    text-transform uppercase
    height 17px
    white-space nowrap
    
.CONTAINER-tableHead
    CONTAINER-tableHead()
    
.CONTAINER-tableHead-first
    CONTAINER-tableHead()
    text-align right

.CONTAINER-tableRowHead
    font-size 25px
    color #c5c5c5
    text-align right
    padding-top 10px
    padding-right 17px
    padding-bottom 10px
    padding-left 17px
    
.CONTAINER-tableContent
    color #777777
    padding-top 15px
    padding-right 17px
    padding-bottom 16px
    padding-left 17px