.STYLE-tableHeadSorted-top
  color #fff
  background-position  0 0px
  padding-left 38px
  border-left none
    
.STYLE-tableHeadSorted-down
  background-position  0 -38px
  color #fff
  padding-left 38px
  border-left none
    
.STYLE-tableContentSorted
  font-weight bold
  
.STYLE-tableRuler
  height 0
  padding-top 0
  padding-right 0
  padding-bottom 0
  padding-left 0
  border-bottom 5px solid #e0e0e0
  span
    display none

.STYLE-pageCol
  width 165px
    
.STYLE-sourceCol
  min-width 20%
    
.STYLE-uploadField
  padding-bottom 6px
  padding-left 17px
  
.STYLE-tableMessage
  text-align center