.TABLE
    border-bottom 5px solid #d5d5d5
    TableContent()
      
.FUNCTION-tableHead
    padding-top 10px
    padding-right 17px
    padding-bottom 11px
    padding-left 17px
    background-position 0 -76
    background-image url('../images/ui/table/ui_bg_function_tablehead.png')
    border-left 1px solid #e0e0e0
    color #a1a0a1
    cursor pointer

.FUNCTION-tableRowHead
    padding-top 8px
    padding-right 17px
    padding-bottom 12px
    padding-left 17px
    
.FUNCTION-tableContent
    border-left 1px solid #e0e0e0
