UI-TABLE-CONTENT()

  table
    width 100%
  
  tr:nth-child( even )
    td
      background-color #f2f2f2
  tr:nth-child( odd )
    td
      background-color #fff

  strong
    font-weight bold

  H1 
    margin-left 15px
    margin-top 15px
    margin-bottom 15px
    margin-right 15px
    font-size 18px
    color #c5c5c5