$mymenuname = ITEM-pagesetup

.FUNCTION-pagesetup li.{$mymenuname} .STYLE-itemPagesetupIcon,.FUNCTION-pagesetup li.{$mymenuname}-first .STYLE-itemPagesetupIcon,.FUNCTION-pagesetup li.{$mymenuname}-last .STYLE-itemPagesetupIcon
    margin-top 4px
    padding-top 0 
    padding-bottom 0
    padding-left 2px
    padding-right 0
    