$mymenuname = ITEM-horizontal-1

.FUNCTION-horizontal-1
    MENU-horizontal($mymenuname)
    TakeMyKidsWidth()

a.{$mymenuname}-default 
    padding-left 15px
    padding-right 15px
    padding-top 6px
    height 22px
    font-weight bold
    font-size 14px
    color #ffffff
    background-color rgba(103,103,104, 0.3)
    margin-right 4px
    GiveMeRoundCorners(8px)
    
a.{$mymenuname}-first
    padding-left 15px
    padding-right 15px
    padding-top 6px
    height 22px
    font-weight bold
    font-size 14px
    color #ffffff
    margin-right 4px
    GiveMeRoundCorners(8px)
    background-color rgba(103,103,104, 0.3)
  
a.{$mymenuname}-last
    padding-left 15px
    padding-right 15px
    padding-top 6px
    height 22px
    font-weight bold
    font-size 14px
    color #ffffff
    GiveMeRoundCorners(8px)
    background-color rgba(103,103,104, 0.3)
  
a.{$mymenuname}-selected
    padding-left 15px
    padding-right 15px
    padding-top 6px
    height 22px
    font-weight bold
    font-size 14px
    color #ffffff
    margin-right 4px
    background-color #333334
    color #ffffff
    GiveMeRoundCorners(8px)

a.{$mymenuname}-hover
    padding-left 15px
    padding-right 15px
    padding-top 6px
    height 22px
    font-weight bold
    font-size 14px
    color #ffffff
    background-color #ffffff
    color #676768
    margin-right 4px
    GiveMeRoundCorners(8px)