.STYLE-flyingPanel-border
  background-position 100% 45%
  background-image url('../images/ui/flyingpanel/ui_bg_styles_container_flyingpanel_border.gif')
  background-repeat no-repeat
  padding-right 10px

.STYLE-flyingPanel-form
  margin-top -8px