.STICKER-flyingPanel
  STICKER()
  GiveMeRoundCorners()
  GiveMeShadow( rgba( 0, 0, 0, 0.3 ), -1px, 5px, 16px)
  background-position 0 0
  background-image url('../images/ui/flyingpanel/ui_bg_sticker_flyingpanel.png')
  background-repeat repeat
  