.CONTAINER-medithumb
    CONTAINER()
    TakeMyKidsWidth()
    padding-left 12px
    background-image url( '../images/ui/medithumb/ui_bg_function_medithumb.png' )
    background-repeat no-repeat 
    background-position 0 0
    height 35px

   