$mymenuname = ITEM-medithumb

.FUNCTION-medithumb li.{$mymenuname} .STYLE-itemMedithumbBorder,.FUNCTION-medithumb li.{$mymenuname}-first .STYLE-itemMedithumbBorder,.FUNCTION-medithumb li.{$mymenuname}-last .STYLE-itemMedithumbBorder
    border-left 1px solid #656669
    margin-top 6px
    padding-top 0 
    padding-bottom 0 

.FUNCTION-medithumb li.{$mymenuname} .STYLE-itemMedithumbIcon,.FUNCTION-medithumb li.{$mymenuname}-first .STYLE-itemMedithumbIcon,.FUNCTION-medithumb li.{$mymenuname}-last .STYLE-itemMedithumbIcon
    margin-top 4px
    padding-top 0 
    padding-bottom 0
    padding-left 2px
    padding-right 0
    width 16px !important