UI-BROWSE-CONTENT()
    h6
        UI()
        font-weight normal
        color #a09fa0
        padding-bottom 8px 
        min-height 10px
        padding-left 12px
        padding-top 6px
    
    strong
        font-weight: bold
    /*    
    span
        UI()
        color #777777
        font-size 12px
        */
    p 
      UI()
      font-size 11px
      color #757575
      a 
        color #6b9ed4
        text-decoration underline
        display inline
        cursor pointer
        HOVER-notUnderline()
        