.CONTAINER-browse
    CONTAINER()
    UI-BROWSE-CONTENT()
    overflow hidden
    NoWrapForMyKids()
    
.CONTAINER-fileLirarySelect
    CONTAINER()
    background-color #f2f2f2
    padding-left 19px
    padding-top 14px
    padding-bottom: 14px
    text-align left

.CONTAINER-fileCurrent
    CONTAINER()
    background-color #f2f2f2
    padding-left 19px
    text-align left

.CONTAINER-browse-content
    CONTAINER()
    UI-BROWSE-CONTENT()
    padding-left 15px
    padding-top 8px
    padding-bottom 12px
  