.STICKER-browseArrow
    position absolute
    right 8px
    top 50%
    margin-top -10px
    width 16px
    height 16px

.STICKER-setupIcon
    STICKER()
    position absolute
    left 15px
    top 6px
    width 24px
    height 24px
    background-image url('../images/ui/browse/ui_bg_sticker_setupicon.png')
    background-position 0 0
    background-repeat no-repeat
    
.STICKER-browseBackArrow
    position absolute
    left 8px
    top 50%
    margin-top -10px
    width 16px
    height 16px
    
.STICKER-checked
    STICKER()
    top -7px
    left 7px
    background-image url('../images/ui/form/ui_bg_sticker_checked.png')
    background-position 0 0
    background-repeat no-repeat
    width 34px
    height 30px
    
.FORM-radio
    .STICKER-checked
        STICKER()
        top 1px
        left 1px
        background-image url('../images/ui/form/ui_bg_radio_sticker_checked.png')
        background-position 0 0
        background-repeat no-repeat
        width 24px
        height 24px

.STICKER-given
    STICKER()
    width 100% 
    z-index 1
    bottom 0
    
.STICKER-browseFiles
    position absolute
    left 6px
    top 6px
    width 30px
    height 33px