BUTTON-form-leftStepper()
    text-indent -200px
    overflow hidden
    BUTTON()
    STICKER()
    background-image url('../images/ui/form/ui_bg_buttonstepper.png')
    background-position 0 0
    width 42px
    height 25px
    left 0
    top 0
    cursor pointer
    border-top-left-radius 6px
    -moz-border-radius-topleft 6px
    -webkit-border-top-left-radius 6px
    border-bottom-left-radius 6px
    -moz-border-radius-bottomleft 6px
    -webkit-border-bottom-left-radius 6px

.BUTTON-form-leftStepper
    BUTTON-form-leftStepper()

.BUTTON-form-rightStepper
    BUTTON-form-leftStepper()
    background-position -42px 0
    left auto
    right 0
    -moz-border-radius 0
    -webkit-border-radius 0
    border-radius 0
    border-top-right-radius 6px
    -moz-border-radius-topright 6px
    -webkit-border-top-right-radius 6px
    border-bottom-right-radius 6px
    -moz-border-radius-bottomright 6px
    -webkit-border-bottom-right-radius 6px

BUTTON-form-leftStepper-mini()
    text-indent -200px
    overflow hidden
    BUTTON()
    STICKER()
    background-image url('../images/ui/form/ui_bg_buttonstepper_mini.png')
    background-position 0 0
    width 18px
    height 25px
    left 0
    bottom 0
    cursor pointer
    border-top-left-radius 6px
    -moz-border-radius-topleft 6px
    -webkit-border-top-left-radius 6px
    border-bottom-left-radius 6px
    -moz-border-radius-bottomleft 6px
    -webkit-border-bottom-left-radius 6px

.BUTTON-form-leftStepper-mini
    BUTTON-form-leftStepper-mini()

.BUTTON-form-rightStepper-mini
    BUTTON-form-leftStepper-mini()
    background-position -18px 0 
    left auto
    right 0
    -moz-border-radius 0
    -webkit-border-radius 0
    border-radius 0
    border-top-right-radius 6px
    -moz-border-radius-topright 6px
    -webkit-border-top-right-radius 6px
    border-bottom-right-radius 6px
    -moz-border-radius-bottomright 6px
    -webkit-border-bottom-right-radius 6px

.BUTTON-form-color
    text-indent -200px
    overflow hidden
    BUTTON()
    STICKER()
    background-image url('../images/ui/form/ui_bg_button_form_color.png')
    background-position 0 0
    background-color pink
    width 26px
    height 25px
    left 0
    bottom 0
    cursor pointer
    border-top-left-radius 6px
    -moz-border-radius-topleft 6px
    -webkit-border-top-left-radius 6px
    border-bottom-left-radius 6px
    -moz-border-radius-bottomleft 6px
    -webkit-border-bottom-left-radius 6px