.FORM
    // CONTAINER
 .FORM-item
    CONTAINER()
    padding-top 7px
    padding-right 20px
    padding-left 14px
    padding-bottom 2px
    margin-bottom 6px
    text-align center
    background-image url('../images/ui/form/ui_bg_form_item.png')

.CONTAINER-formFile    
    CONTAINER()
    padding-left 12px
    padding-top 8px
    padding-bottom 8px
    padding-right 12px
    
.HELPER-file
    CONTAINER()
    text-align left
    height 25px
    padding-top 6px
    padding-left 6px
    padding-right 6px
    padding-bottom 8px
    margin-top -6px
    margin-left -6px
    overflow hidden
    .file_upload 
        position relative
        overflow hidden
        direction ltr
        text-align center
        color #333
        font-weight bold
        -moz-border-radius 10px
        -webkit-border-radius 10px
        border-radius 10px
        width 200px
        height 30px
        line-height 30px
        background palegreen
        border 1px solid limegreen

.HELPER-file input 
    position absolute
    top 0
    left 0
    margin 0
    border none
    font-size 600px
    opacity 0
    cursor pointer
    z-index 2
    color red
    background red

    


   