.UI-CONTAINER-panel
    CONTAINER()
    background-color #fff
    background-image url('../images/ui/panel/ui_bg_conatiner_panel.png')
    background-repeat repeat-y
    background-position 0 0

.UI-CONTAINER-option
    CONTAINER()
    background-color #363636

.UI-CONTAINER-silver
    CONTAINER()
    background-color #dbdbdb
    background-image url('../images/ui/panel/ui_bg_conatiner_silver.png')
    background-repeat repeat-x
    background-position 0 0