.STYLE-panelScrollY
    overflow-y auto
    
.STYLE-panelScroll
    overflow auto !important
 
.STYLE-panelShadow
    background-image url('../images/ui/panel/ui_bg_style_panelshadow.png')
    background-repeat repeat-x
    background-position 0 0