.FUNCTION-panelDefault  
    //overflow auto
    background-color #fff
    z-index 0 !important
    background-image url('../images/ui/panel/ui_bg_function_paneldefault.png')
    background-repeat repeat-y
    background-position 0 0

.FUNCTION-panelStage 
    z-index 0 !important
    background-color #363536

.FUNCTION-panelSetup 
    z-index 0 !important
    background-color #dbdbdb
    background-image url('../images/ui/panel/ui_bg_function_panelsetup.png')
    background-repeat repeat-x
    background-position 0 0
    //overflow auto

.FUNCTION-panel-resizer 
    background-color #c6c9cb
    z-index 0 !important

.FUNCTION-panel-resizerStage
    background-color #363536
    z-index 0 !important
    
.FUNCTION-panel-resizerStage-closed
    background-color #c6c9cb
    z-index 0 !important