.BUTTON-panel-togglerDefault  
    background-color #6b9ed4
    background-image url('../images/ui/panel/bg_button_toggler.gif')
    background-repeat no-repeat
    background-position -5px -12px

.BUTTON-panel-togglerStage  
    background-color #363536
    background-image url('../images/ui/panel/bg_button_toggler.gif')
    background-repeat no-repeat
    background-position -5px -12px

.BUTTON-panel-togglerDefault-east, 
.BUTTON-panel-togglerDefault-west,
.BUTTON-panel-togglerDark-east, 
.BUTTON-panel-togglerDark-west 
    background-repeat no-repeat
    background-position 0 0

.BUTTON-panel-togglerDefault-south-closed,
.BUTTON-panel-togglerDefault-north-closed,
.BUTTON-panel-togglerDefault-east-closed,
.BUTTON-panel-togglerDefault-west-closed
    background-color #9d9c9e

.BUTTON-panel-togglerStage-south-closed,
.BUTTON-panel-togglerStage-north-closed,
.BUTTON-panel-togglerStage-east-closed,
.BUTTON-panel-togglerStage-west-closed
    background-color #9d9c9e

.BUTTON-panel-togglerHeader
    UI()
    color #000
    font-weight bold
    font-size 12px
    min-height 26px
    padding-top 6px
    padding-bottom 5px
    padding-right 21px
    padding-left 14px
    width auto
    background-image url('../images/ui/browse/ui_bg_style_itembrowseheader.png') 
 
    .content
        UI()
        font-weight bold
        padding-bottom 5px
        padding-right 21px
        padding-left 14px
        width auto
        font-size 18px
        text-align left
        text-transform uppercase
        padding-top 8px
        min-height 24px
        color #969596