$mymenuname = ITEM-imageGrid

imageGrid-function-a-item()
    UI()
    CONTAINER()
    NoWrapForMyKids()
    color #1d1c20    
    font-size 11px
    margin-right 7px
    padding-top 4px
    padding-right 4px
    padding-bottom 7px
    padding-left 4px
    font-style italic
    width auto
    cursor pointer
    
.FUNCTION-imageGrid
    MENU-horizontal($mymenuname)
    NoWrapForMyKids()
    TakeMyKidsWidth()
    min-width 21px
  
    a.{$mymenuname} 
        imageGrid-function-a-item()
            
    a.{$mymenuname}-first
        imageGrid-function-a-item()

    a.{$mymenuname}-last
        imageGrid-function-a-item()
        
    a.{$mymenuname}-selected
        imageGrid-function-a-item()
        GiveMeRoundCorners(8px)
        GiveMeShadow(#dddddd, 3px, 3px, 8px)
        background-color #fff