// BRICKS CSS Framework /EXTRAS/ Round Corners:Version 1.0 
// Copyright (c) 2009 AUTHORS.txt at http://www.littleweblab.com/BRICKS

/*
 * Configure basic round corners
 */

GiveMeRoundCorners($radius=8px)
   -moz-border-radius $radius
   -webkit-border-radius $radius
   border-radius $radius