.BUTTON-modesatus 
    padding-top 67px
    padding-left 22px
    width 86px !important
    height 43px
    display block
    font-family Times
    font-size 18px
    font-style italic
    color #67a1e4
    background-image url('../images/ui/modes/ui_bg_button_modestatus.png')
    background-repeat no-repeat
    background-position 0 0
    cursor pointer