.STICKER-modes 
  STICKER()
  TakeMyKidsWidth()
  bottom 23px
  left 15px
  height 150px
  position fixed
  z-index 100000
  
.STICKER-modes-buttonmodestatus 
  STICKER()
  top 12px
  left -54px 
  
.STICKER-mode-icon 
  STICKER()
  //background-color red
  width 68px
  height 68px
  top 16px
  left 20px
  cursor pointer