.FUNCTION-accordion, li.FUNCTION-accordion
    CONTAINER()
    UI()
    padding-left 26px
    padding-top 23px
    padding-bottom 5px
    color #a3a3a3
    font-size 14px
    text-transform uppercase
    border-bottom 1px solid #e0e0e0
    
    .ITEM-accordion
        font-weight bold