.STICKER-stageAddButton
    STICKER()
    top 0
    left 0
    
.STYLE-stageChooseForWizardStretchArrowLeft 
    STICKER()
    top 26px
    left 50%
    width 30px
    height 30px
    margin-left -90px
    
.STYLE-stageChooseForWizardStretchArrowRight
    STICKER()
    top 26px
    left 50%
    width 30px
    height 30px
    margin-left 58px
    
.shadow
    CONTAINER()
    GiveMeShadow( rgba(0,0,0,0.9), 1px, 3px, 16px)
    top 0
    left -5%
    width 110%
    height 5px