UI-STAGE-CONTENT()
    h1
        UI()
        GiveMeOpacity(50)
        color #c9c9c9
        font-size 30px
        text-transform uppercase
        font-weight bold
        text-align center
        margin-bottom 23px
        line-height 36px
        letter-spacing 1px
    
    h2
        UI()
        GiveMeOpacity(50)
        color #5b5b5d
        font-size 24px
        text-transform uppercase
        font-weight bold
        text-align center
        line-height 30px
        margin-bottom 23px
    
    strong
        UI()
        font-weight bold
    
    span
        UI()
        color #5f9cd6
        font-size inherit
        font-weight inherit
        line-height inherit
        letter-spacing inherit