.STAGE
    CONTAINER()
    
.CONTAINER-stageWizard
    CONTAINER()
    width 950px
    margin-left auto
    margin-right auto
    UI-STAGE-CONTENT()
    overflow visible
    
.CONTAINER-stageWizard-name, 
.CONTAINER-stageWizard-position, 
.CONTAINER-stageWizard-dimension,
.CONTAINER-stageWizard-create
    CONTAINER()
    width 950px
    margin-left auto
    margin-right auto
    UI-STAGE-CONTENT()
    display none
    GiveMeOpacity(10)
    overflow visible

.CONTAINER-stageWizard-name
    display block
    GiveMeOpacity(100)
    overflow visible