.STYLE-stageMarginTop-97
    margin-top 97px
    
.STYLE-stageChooseForWizard
    GiveMeShadow( #242425, 1px ,1px ,8px)
    font-size 16px
    padding-bottom 26px
    padding-top 24px
    width 102px
    padding-left 0
    padding-right 0
    margin-left auto
    margin-right auto
    
.STYLE-stageChooseForWizardStretch
    GiveMeShadow( #2d2d2d, 1px ,1px ,8px)
    margin-top 0
    background-color #4e4e4e
    height 52px
    padding-bottom 0
    padding-top 15px
    color #b1b2b2
    font-size 11px
    font-weight normal
    text-transform none
  
.STYLE-stageWizardForm
    width 167px
    margin-left auto
    margin-right auto
    text-align center

div.STYLE-stageWizardInput
    GiveMeShadow( #242425, 1px ,1px ,8px)
    margin-bottom 15px
    
a.STYLE-stageWizardButton
    GiveMeShadow( #242425, 1px ,1px ,8px)
    margin-top 18px

.STYLE-stageWizardLabel
    font-size 20px
    color #2a2a2a
    text-transform uppercase
    padding-bottom 8px
   
.STYLE-stageAddFlatMaxi
    // GiveMeOpacity(60)
    padding-left 35px
    padding-right 36px
//    &:hover
//        GiveMeOpacity(90)