.STICKER-cornerMarker-nw
    STICKER()
    left -12px
    top -5px
    width 30px
    height 30px  
    background-image url('../images/ui/write/ui_bg_write_markercorners.png')  
    background-position 0 0
    background-repeat no-repeat
    z-index 9999
    //display none
    
.STICKER-cornerMarker-sw
    STICKER()
    left -12px
    bottom -27px
    width 30px
    height 30px
    background-image url('../images/ui/write/ui_bg_write_markercorners.png')  
    background-position 0 -30px
    background-repeat no-repeat
    z-index 9999
    //display none
    
.STICKER-cornerMarker-no
    STICKER()
    width 30px
    height 30px
    right -12px
    top -5px
    background-image url('../images/ui/write/ui_bg_write_markercorners.png')  
    background-position -30px 0
    background-repeat no-repeat
    z-index 9999
    //display none
    
.STICKER-cornerMarker-so
    STICKER()
    width 30px
    height 30px
    top auto
    right -12px
    bottom -27px
    background-image url('../images/ui/write/ui_bg_write_markercorners.png')  
    background-position -30px -30px
    background-repeat no-repeat
    z-index 9999
    //display none