.STICKER-focusHighlight
    STICKER()
    width 11px
    height 11px  
    background-color #6b9ed4
    z-index 9999
    
.STICKER-focusHighlight-normal
    STICKER()
    width 11px
    height 11px  
    background-color #6b9ed4
    z-index 9999

.STICKER-focusHighlight-small
    STICKER()
    width 6px
    height 6px  
    background-color #6b9ed4
    z-index 9999