.STYLE-listGridSwitch-list
    background-image url('../images/ui/listgridswitch/ui_bg_function_listgridswitch_a_list.png')
    width 28px
    
.STYLE-listGridSwitch-grid
    background-image url('../images/ui/listgridswitch/ui_bg_function_listgridswitch_a_grid.png')
    width 28px