MEDI()
    width 52px
    height 51px

MINI()
    width 35px
    height 36px

.BUTTON-toggleeditable
    BUTTON()
    background-image url('../images/ui/rules/ui_bg_editable_readonly_switch.png')
    background-repeat no-repeat
    width 70px
    height 69px

////////////
// CLOSED //
////////////

.STYLE-toggleeditable-closed
    background-position 0 -138px  
    cursor default
    
.STYLE-toggleeditable-medi-closed   
    MEDI()
    background-position -70px -138px  
    cursor default
   
.STYLE-toggleeditable-mini-closed 
    MINI()
    background-position -121px -138px
    cursor default
    
//////////////
// READONLY //
//////////////

.STYLE-toggleeditable-readonly
    background-position 0 -69px  
    
.STYLE-toggleeditable-medi-readonly
    MEDI()
    background-position -70px -69px  

.STYLE-toggleeditable-mini-readonly
    MINI()
    background-position -122px -69px

//////////////
// EDITABLE //
//////////////

.STYLE-toggleeditable-editable
    background-position  0 0  

.STYLE-toggleeditable-medi-editable   
    MEDI()
    background-position -70px 0

.STYLE-toggleeditable-mini-editable    
    MINI()
    background-position -122px 0
    
    
//////////////
// SubGrid //
//////////////

.STYLE-toggleeditable-subGrid
  font-size 14px
  font-weight bold
  display block
   
.STYLE-toggleeditable-medi-subGrid
  font-size 12px
  font-weight bold
  padding-left 6px
  padding-right 6px 
  padding-top 4px
  padding-bottom 4px
  display block

.STYLE-toggleeditable-mini-subGrid
  display none
  GiveMeRoundCorners( 4px )
  font-size 8px
  font-weight bold
  padding-left 0px
  padding-right 0px
  padding-top 2px
  padding-bottom 3px
  display block
  