/* 
 **
 **  BRICKS CSSFramework /EXTRA/ Color:Version 0.1
 **  Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
 **  Works with different Color Classes (different versions of a color)
 */

//RED

.COLORSCHEME-red
  .COLOR-varLight
    color #eec5c0
  .COLOR-varMid
    color #e26159
  .COLOR-varDark
    color #761810

// Light
// Mid
// Dark

//YELLOW

.COLORSCHEME-yellow

// Light

.COLORSCHEME
  .COLOR-varLight
    color #fae5c0
  .COLOR-varMid
    color #feb523
  .COLOR-varDark
    color #90610a

// Mid
// Dark

//ect.
