// BRICKS CSSFramework / Container:Version 1.1
// Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
// Do not give containers a width or change the display style.
// @ Opera has problems width Overflow if the height is smaller than the line-height
// @ IE 6 has problems width GRID elements widthout a width.

// CONTAINER ELEMENTS

.named-containerExample
    CONTAINER()
    color #000
    border-left 4px solid #c3fff7
    border-bottom 4px solid #c3fff7
    background-color #88b2ae
    padding-top 33px
    padding-bottom 5px

.named-wrapArround
    CONTAINER()
    //GiveMeOpacity(90)
    color #000
    background-color #fff
    padding 20px
    margin 10px

.named-content
    CONTAINER()
    padding-top 5px
    padding-bottom 5px
    border-top 1px solid green
    background red

.named-menu-holder
    CONTAINER()

.named-containerTest
    CONTAINER()
    padding 0
    background #dadcdd

.CONTAINER-test
    CONTAINER()
    background green