//  BRICKS CSSFramework / Frame Version 1.0 
//  Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
//  Define your page body here.

//////////////////////////////////////////////////
// PAGE
//////////////////////////////////////////////////

// FRAME-Base
//.PAGE, #PAGE
//    PAGECONF()
//    height 400px   
//    display block
//    margin-left auto
//    margin-right auto
//    font-size 0
//    background #fff

// FRAME-header 
#PAGE-header, .PAGE-header
    GRID()
    width 100%
    //height 72px
    background-color #ffbf3e

// FRAME-content 
#PAGE-content, .PAGE-content
    GRID()
    width 100%
    background #ccc
    padding-left 0
    padding-right 0
    display block
    width 100%
    background red

//FRAME-footer
#PAGE-footer, .PAGE-footer
    GRID()
    width 100%
    background-color #ccc