/* 
 **
 **  BRICKS CSSFramework / Grid:Version 1.0
 **  Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
 **  Use matrix <div>'s to build the Grid for your
 **  Webproject together width floting.css
 **  MAtrix is for a transparent Grid. Do not Style it.
 **

/************* GRID ELEMENTS ********************/

.named-header-1, .named-content-1, .named-content-1-1
  GRID()
  width 100%

.named-content-1-1-1
  GRID()
  width 30%

.named-content-1-1-2
  GRID()
  width 70%

.named-footer-1
  GRID()
  width 100%