/* 
 **
 **  BRICKS CSSFramework / Sticker:Version 1.0
 **  Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
 **  Containers are <div>´s for Styling your Grid.
 **  Do not give containers a width or change the display style.
 **

/************** STICKER ELEMENTS ***************/
// Sticker stickerExample

.named-forSecondMenu
  STICKER()
  right 0
  top 0px

.named-forCompanyLogo
  STICKER()
  top 0
  left 0

.named-auto
  STICKER()
  top -60px
  left -60px
  width 50px
  height 50px
  background #ccc

.STICKER-test
  STICKER()
  width auto
  {'_'}width 1px
  right 0px
  top -20px
  background orange