/* 
 **
 **  BRICKS CSSFramework / Style:Version 1.0 
 **  Copyright (c) 2009 AUTHORS.txt (http://10YAFTER.COM/BRICKS)
 **  Style your individuel content elements here
 */
.PAGE, #PAGE
  .STYLE-colorRed
    color red



