.STYLE-filesRight
    padding-right 20px
    height 36px
    padding-top 50px
    
.STYLE-uploadButton
    background-color transparent
    border 0
    padding-top 8px
    padding-left 35px
    vertical-align top
    
.STYLE-filesFileInput
    cursor pointer
    font-size 600px
    background none
    border none
    position absolute
    left 0
    top 0
    opacity 0
    
div.STYLE-filesSearchInput
    top 1px
    width 178px
    
input.STYLE-filesDropzone
    position absolute
    left 0
    top 0
    height 200
    opacity 0
  
div.STYLE-filesDropzone, a.STYLE-filesDropzone
    margin-left: 10px
    margin-top: 10px
    margin-right: 10px
    margin-bottom: 10px

div.STYLE-filesDropzone
  display none
    
.STYLE-filedHeadDropZone
    background-position 50% 50% 
   