.STICKER-filesUploadForm
    STICKER()
    left 0
    top 20px
    width 175px
    height 36px
    z-index 100
    overflow hidden
    cursor pointer

STICKER-filedHeadDropZoneLabel()
  STICKER()
  left 50%
  top 28px
  font-size 12px !important
  line-height 18px !important
  width: 200px
  strong
    font-weight bold 
    line-height 18px   

.STICKER-filedHeadDropZoneLabelRight
  STICKER-filedHeadDropZoneLabel()
  margin-left 30px
  text-align left !important

.STICKER-filedHeadDropZoneLabelLeft
  STICKER-filedHeadDropZoneLabel()
  text-align right !important
  margin-left -228px
  