.CONTAINER-files
    CONTAINER()

.CONTAINER-filesHead    
    CONTAINER()
    height 81px
    padding-top 10px
    
.CONTAINER-uploadNewFile
    CONTAINER()
    padding-top 9px
    padding-bottom 2px
    
.CONTAINER-filesSource
    CONTAINER()
    padding-top 28px
    text-align center
    
.CONTAINER-filesSearch
    CONTAINER()
    AlignMyKidsRight()

.CONTAINER-filesListGridSwitch
    CONTAINER()
    padding-left 29px
    
.CONTAINER-filesBody
    CONTAINER()