.PAGE, #PAGE
  margin-top: 53px
@import "_add_content"  
.HELPER-pageContent
  //UI-HELPER-PAGE-CONTENT()
  
.HELPER-page-sortable-menu-item
  STICKER()
  background-color #525152
  font-size 14px
  color #cbcbcb
  font-weight bold
  texttext-transform uppercase
  padding-top 10px
  padding-left 10px
  padding-right 10px
  padding-bottom 10px
  GiveMeRoundCorners( 10px ) 

.HELPER-page-sortable-menu-placeholder
  CONTAINER()
  height 5px
  margin-top 3px
  margin-left 3px
  margin-bottom 3px
  margin-right 3px
  background-color #525152
  
.HELPER-page-sortable-menu-placeholder-b
  CONTAINER()
  TakeMyKidsWidth()
  height 5px
  width 5px
  margin-top 3px
  margin-left 3px
  margin-bottom 3px
  margin-right 3px
  background-color #525152
  
  
page-rename-function()
  background-color #6b9ed4 !important
  color #f2f7fb !important
  font-style italic !important
  font-weight normal !important
    

.FUNCTION-page-rename
    page-rename-function()
    &:hover
        page-rename-function()