UI()
    font-size 12px
    font-family Arial 
    word-spacing normal
    line-height auto
    text-transform normal

body,html 
    width 100%
    height 100%

.UI

    background-image unquote('-webkit-gradient(radial, center center, 0, center center, 1000, from(#3c3c3c), to(#101112))')
    background-image unquote('-moz-radial-gradient(center 45deg, circle closest-corner, #3c3c3c 0%, #101112 100%)')
    filter unquote('progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3c3c3c, endColorstr=#101112)')
    background-image unquote('gradient(radial, center center, 0, center center, 1000, from(#3c3c3c), to(#101112))')
    background-attachment fixed
    UI()

LayerOnUI($level)
    if $level > 100 
        z-index 200
    else if $level < 0 
        z-index 100
    else 
        z-index $level + 100
        
for $i in 0..10
    .LayerOnUI-{$i * 10} 
        z-index 10 * $i + 100        

@import "_page/_page"                
@import "_content"
@import "_content/_content"
@import "_hover"
@import "_choose/_choose"
@import "_toolbar/_toolbar"
@import "_menubar/_menubar"
@import "_buttons/_buttons"
@import "_icons/_icons"
@import "_split/_split"
@import "_bubble/_bubble"
@import "_medithumb/_medithumb"
@import "_browse/_browse"
@import "_form/_form"
@import "_bifork/_bifork"
@import "_write/_write"
@import "_accordion/_accordion"
@import "_stage/_stage"
@import "_dropzone/_dropzone"
@import "_link/_link"
@import "_panel/_panel"
@import "_focus/_focus"
@import "_modes/_modes"
@import "_clipboard/_clipboard"
@import "_files/_files" 
@import "_imagegrid/_imagegrid"
@import "_listgridswitch/_listgridswitch"
@import "_table/_table"
@import "_dropimage/_dropimage"
@import "_rules/_rules"
@import "_patterns/_patterns"
@import "_rename/_rename"
@import "_menustyle/_menustyle"
@import "_tank/_tank"
@import "_help/_help"
@import "_breadcrump/_breadcrump"
@import "_pagesetup/_pagesetup"
@import "_designbrowser/_designbrowser"
@import "_flyingpanel/_flyingpanel"
@import "_choiceswitch/_choiceswitch"
@import "_bgimagestatus/_bgimagestatus"
