// HOVER 
HOVER-underline()
    &:hover
        text-decoration underline

HOVER-notUnderline()
    &:hover
        text-decoration none

HOVER-bgcolor()
    &:hover
        background-color #cddef0

HOVER-bgimage()
    &:hover
        background-position 0 100%

HOVER-color()
    &:hover
        color #fff

HOVER-opacity()
    &:hover
      GiveMeOpacity( 100 )
    
      
    
Selected()
    background-position 0 50%