.STICKER-clipboard 
    STICKER()
    TakeMyKidsWidth()
    bottom 0
    left 50%
    position fixed
    // background red
    overflow hidden
    height 1px
    padding-right 16px
    
.STICKER-clips 
    STICKER()
    bottom 60px

.STICKER-clipboard-fileicon
    STICKER()
    position absolute
    float none
    clear both
    top 12px 
    left 17px 
    width 100%

.STICKER-clipboard-medithumb  
    STICKER()
    top 24px 
    left -33px
    width 100%